<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countdown</title>
    <link rel="stylesheet" href="../styles/Styles_Conteo.css">
</head>
<body>
    <h1>Countdown</h1>
    <div id="Barra_de_opciones">
        <a href="../Index.html">Homepage</a>
        <a href="Trailers.html">Trailers</a>
        <a href="Info.html">Information</a>
    </div>
    <div id="Conteo">
        <h2 id="Horas">00 Hours</h2>
        <h2 id="Dias">000 Days</h2>
        <h2 id="Meses">00 Months</h2>
    </div>
    <h4 id="credits">Dg203 - 2025</h4>
    <script src="../scripts/script_contador.js"></script>
 </body>
 </html>