<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trailers</title>
    <link rel="stylesheet" href="../styles/Styles_Trailers.css">
</head>
<body>
    <h1>GTA VI Trailers</h1>
    <div id="Barra_de_opciones">
        <a href="../index.html">Homepage</a>
    <a href="./Conteo.html">Countdown</a>
        <a href="./Info.html">Information</a>
    </div>
    <div id="contenedor_trailers">
        <div class="trailers">
            <div class="video-wrapper">
                <iframe src="https://www.youtube.com/embed/QdBZY2fkU-0?si=Pb8PFENm7_qAbNok&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <h3>Trailer 1 <br>Published: 4/12/2023</h3>
        </div>
        <div class="trailers">
            <div class="video-wrapper">
                <iframe src="https://www.youtube.com/embed/VQRLujxTm3c?si=kXTz0zNSPLXBdCvD&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <h3>Trailer 2 <br> Published: 6/6/25</h3>
        </div>
    </div>
    <h4 id="credits">Dg203 - 2025</h4>
</body>
</html>